.header {
    background-color: blue;
    background-repeat: repeat;
    color: white;
    min-height: 400px;
    text-align: center;
}

.header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 5rem;
}